# Project 1

## Step 1: Load the data and perform basic operations.

##### 1. Load the data in using pandas.

In [4]:
import pandas as pd
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [6]:
sat = pd.read_csv('../data/sat.csv')
act = pd.read_csv('../data/act.csv')

##### 2. Print the first ten rows of each dataframe.

In [15]:
sat.head(10)

,Unnamed: 0,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,0,Alabama,5%,593,572,1165
1,1,Alaska,38%,547,533,1080
2,2,Arizona,30%,563,553,1116
3,3,Arkansas,3%,614,594,1208
4,4,California,53%,531,524,1055
5,5,Colorado,11%,606,595,1201
6,6,Connecticut,100%,530,512,1041
7,7,Delaware,100%,503,492,996
8,8,District of Columbia,100%,482,468,950
9,9,Florida,83%,520,497,1017

In [14]:
act.head(10)

,Unnamed: 0,State,Participation,English,Math,Reading,Science,Composite
0,0,National,60%,20.3,20.7,21.4,21.0,21.0
1,1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,5,California,31%,22.5,22.7,23.1,22.2,22.8
6,6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

##### 3. Describe in words what each variable (column) is.

In [18]:
# For the SAT table, columns are as follows:
# State is individual states around the U.S.
# Participation is Participation rate for the SAT
# Evidence Based Reading and Writing is score for Reading and Writing
# Math is the score for Math
# Total is the R&W score plus the Math Score

In [19]:
# For the ACT table, columns are as follows:
# State is individual states around the U.S.
# Participation is Participation rate for the ACT
# English is the score for English
# Math is the score for Math
# Reading is the score for Reading
# Composite is the average of Math, Reading, and Science

##### 4. Does the data look complete? Are there any obvious issues with the observations?

In [24]:
#  Data does look complete with one glaring missing item.  ACT table has a row with National Data
sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
Unnamed: 0                            51 non-null int64
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(4), object(2)
memory usage: 2.5+ KB

In [25]:
act.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 8 columns):
Unnamed: 0       52 non-null int64
State            52 non-null object
Participation    52 non-null object
English          52 non-null float64
Math             52 non-null float64
Reading          52 non-null float64
Science          52 non-null float64
Composite        52 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ KB

##### 5. Print the types of each column.

In [26]:
sat.dtypes

Unnamed: 0                             int64
State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [17]:
act.dtypes

Unnamed: 0         int64
State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

##### 6. Do any types need to be reassigned? If so, go ahead and do it.

In [ ]:
# Come back to this one...at the moment I don't see any reassignments needed.

##### 7. Create a dictionary for each column mapping the State to its respective value for that column. (For example, you should have three SAT dictionaries.)

In [36]:
# sat.set_index("State", drop=True, inplace=True)

In [55]:
sat_participation_dict = sat.to_dict(orient="dict")

In [56]:
sat_participation_dict

{'Evidence-Based Reading and Writing': {'Alabama': 593,
  'Alaska': 547,
  'Arizona': 563,
  'Arkansas': 614,
  'California': 531,
  'Colorado': 606,
  'Connecticut': 530,
  'Delaware': 503,
  'District of Columbia': 482,
  'Florida': 520,
  'Georgia': 535,
  'Hawaii': 544,
  'Idaho': 513,
  'Illinois': 559,
  'Indiana': 542,
  'Iowa': 641,
  'Kansas': 632,
  'Kentucky': 631,
  'Louisiana': 611,
  'Maine': 513,
  'Maryland': 536,
  'Massachusetts': 555,
  'Michigan': 509,
  'Minnesota': 644,
  'Mississippi': 634,
  'Missouri': 640,
  'Montana': 605,
  'Nebraska': 629,
  'Nevada': 563,
  'New Hampshire': 532,
  'New Jersey': 530,
  'New Mexico': 577,
  'New York': 528,
  'North Carolina': 546,
  'North Dakota': 635,
  'Ohio': 578,
  'Oklahoma': 530,
  'Oregon': 560,
  'Pennsylvania': 540,
  'Rhode Island': 539,
  'South Carolina': 543,
  'South Dakota': 612,
  'Tennessee': 623,
  'Texas': 513,
  'Utah': 624,
  'Vermont': 562,
  'Virginia': 561,
  'Washington': 541,
  'West Virginia': 558,
  'Wisconsin': 642,
  'Wyoming': 626},
 'Math': {'Alabama': 572,
  'Alaska': 533,
  'Arizona': 553,
  'Arkansas': 594,
  'California': 524,
  'Colorado': 595,
  'Connecticut': 512,
  'Delaware': 492,
  'District of Columbia': 468,
  'Florida': 497,
  'Georgia': 515,
  'Hawaii': 541,
  'Idaho': 493,
  'Illinois': 556,
  'Indiana': 532,
  'Iowa': 635,
  'Kansas': 628,
  'Kentucky': 616,
  'Louisiana': 586,
  'Maine': 499,
  'Maryland': 52,
  'Massachusetts': 551,
  'Michigan': 495,
  'Minnesota': 651,
  'Mississippi': 607,
  'Missouri': 631,
  'Montana': 591,
  'Nebraska': 625,
  'Nevada': 553,
  'New Hampshire': 520,
  'New Jersey': 526,
  'New Mexico': 561,
  'New York': 523,
  'North Carolina': 535,
  'North Dakota': 621,
  'Ohio': 570,
  'Oklahoma': 517,
  'Oregon': 548,
  'Pennsylvania': 531,
  'Rhode Island': 524,
  'South Carolina': 521,
  'South Dakota': 603,
  'Tennessee': 604,
  'Texas': 507,
  'Utah': 614,
  'Vermont': 551,
  'Virginia': 541,
  'Washington': 534,
  'West Virginia': 528,
  'Wisconsin': 649,
  'Wyoming': 604},
 'Participation': {'Alabama': '5%',
  'Alaska': '38%',
  'Arizona': '30%',
  'Arkansas': '3%',
  'California': '53%',
  'Colorado': '11%',
  'Connecticut': '100%',
  'Delaware': '100%',
  'District of Columbia': '100%',
  'Florida': '83%',
  'Georgia': '61%',
  'Hawaii': '55%',
  'Idaho': '93%',
  'Illinois': '9%',
  'Indiana': '63%',
  'Iowa': '2%',
  'Kansas': '4%',
  'Kentucky': '4%',
  'Louisiana': '4%',
  'Maine': '95%',
  'Maryland': '69%',
  'Massachusetts': '76%',
  'Michigan': '100%',
  'Minnesota': '3%',
  'Mississippi': '2%',
  'Missouri': '3%',
  'Montana': '10%',
  'Nebraska': '3%',
  'Nevada': '26%',
  'New Hampshire': '96%',
  'New Jersey': '70%',
  'New Mexico': '11%',
  'New York': '67%',
  'North Carolina': '49%',
  'North Dakota': '2%',
  'Ohio': '12%',
  'Oklahoma': '7%',
  'Oregon': '43%',
  'Pennsylvania': '65%',
  'Rhode Island': '71%',
  'South Carolina': '50%',
  'South Dakota': '3%',
  'Tennessee': '5%',
  'Texas': '62%',
  'Utah': '3%',
  'Vermont': '60%',
  'Virginia': '65%',
  'Washington': '64%',
  'West Virginia': '14%',
  'Wisconsin': '3%',
  'Wyoming': '3%'},
 'Total': {'Alabama': 1165,
  'Alaska': 1080,
  'Arizona': 1116,
  'Arkansas': 1208,
  'California': 1055,
  'Colorado': 1201,
  'Connecticut': 1041,
  'Delaware': 996,
  'District of Columbia': 950,
  'Florida': 1017,
  'Georgia': 1050,
  'Hawaii': 1085,
  'Idaho': 1005,
  'Illinois': 1115,
  'Indiana': 1074,
  'Iowa': 1275,
  'Kansas': 1260,
  'Kentucky': 1247,
  'Louisiana': 1198,
  'Maine': 1012,
  'Maryland': 1060,
  'Massachusetts': 1107,
  'Michigan': 1005,
  'Minnesota': 1295,
  'Mississippi': 1242,
  'Missouri': 1271,
  'Montana': 1196,
  'Nebraska': 1253,
  'Nevada': 1116,
  'New Hampshire': 1052,
  'New Jersey': 1056,
  'New Mexico': 1138,
  'New York': 1052,
  'North Carolina': 1081,
  'North Dakota': 1256,
  'Ohio': 1149,
  'Oklahoma': 1047,
  'Oregon': 1108,
  'Pennsylvania': 1071,
  'Rhode Island': 1062,
  'South Carolina': 1064,
  'South Dakota': 1216,
  'Tennessee': 1228,
  'Texas': 1020,
  'Utah': 1238,
  'Vermont': 1114,
  'Virginia': 1102,
  'Washington': 1075,
  'West Virginia': 1086,
  'Wisconsin': 1291,
  'Wyoming': 1230},
 'Unnamed: 0': {'Alabama': 0,
  'Alaska': 1,
  'Arizona': 2,
  'Arkansas': 3,
  'California': 4,
  'Colorado': 5,
  'Connecticut': 6,
  'Delaware': 7,
  'District of Columbia': 8,
  'Florida': 9,
  'Georgia': 10,
  'Hawaii': 11,
  'Idaho': 12,
  'Illinois': 13,
  'Indiana': 14,
  'Iowa': 15,
  'Kansas': 16,
  'Kentucky': 17,
  'Louisiana': 18,
  'Maine': 19,
  'Maryland': 20,
  'Massachusetts': 21,
  'Michigan': 22,
  'Minnesota': 23,
  'Mississippi': 24,
  'Missouri': 25,
  'Montana': 26,
  'Nebraska': 27,
  'Nevada': 28,
  'New Hampshire': 29,
  'New Jersey': 30,
  'New Mexico': 31,
  'New York': 32,
  'North Carolina': 33,
  'North Dakota': 34,
  'Ohio': 35,
  'Oklahoma': 36,
  'Oregon': 37,
  'Pennsylvania': 38,
  'Rhode Island': 39,
  'South Carolina': 40,
  'South Dakota': 41,
  'Tennessee': 42,
  'Texas': 43,
  'Utah': 44,
  'Vermont': 45,
  'Virginia': 46,
  'Washington': 47,
  'West Virginia': 48,
  'Wisconsin': 49,
  'Wyoming': 50}}

##### 8. Create one dictionary where each key is the column name, and each value is an iterable (a list or a Pandas Series) of all the values in that column.

##### 9. Merge the dataframes on the state column.

##### 10. Change the names of the columns so you can distinguish between the SAT columns and the ACT columns.

##### 11. Print the minimum and maximum of each numeric column in the data frame.

##### 12. Write a function using only list comprehensions, no loops, to compute standard deviation. Using this function, calculate the standard deviation of each numeric column in both data sets. Add these to a list called `sd`.

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

## Step 2: Manipulate the dataframe

##### 13. Turn the list `sd` into a new observation in your dataset.

##### 14. Sort the dataframe by the values in a numeric column (e.g. observations descending by SAT participation rate)

##### 15. Use a boolean filter to display only observations with a score above a certain threshold (e.g. only states with a participation rate above 50%)

## Step 3: Visualize the data

##### 16. Using MatPlotLib and PyPlot, plot the distribution of the Rate columns for both SAT and ACT using histograms. (You should have two histograms. You might find [this link](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes) helpful in organizing one plot above the other.)

##### 17. Plot the Math(s) distributions from both data sets.

##### 18. Plot the Verbal distributions from both data sets.

##### 19. When we make assumptions about how data are distributed, what is the most common assumption?

##### 20. Does this assumption hold true for any of our columns? Which?

##### 21. Plot some scatterplots examining relationships between all variables.

##### 22. Are there any interesting relationships to note?

##### 23. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.

## Step 4: Descriptive and Inferential Statistics

##### 24. Summarize each distribution. As data scientists, be sure to back up these summaries with statistics. (Hint: What are the three things we care about when describing distributions?)

##### 25. Summarize each relationship. Be sure to back up these summaries with statistics.

##### 26. Execute a hypothesis test comparing the SAT and ACT participation rates. Use $\alpha = 0.05$. Be sure to interpret your results.

##### 27. Generate and interpret 95% confidence intervals for SAT and ACT participation rates.

##### 28. Given your answer to 26, was your answer to 27 surprising? Why?

##### 29. Is it appropriate to generate correlation between SAT and ACT math scores? Why?

##### 30. Suppose we only seek to understand the relationship between SAT and ACT data in 2017. Does it make sense to conduct statistical inference given the data we have? Why?